**Question 1**

In [ ]:
class DataType:
  def __init__(self, name, value):
    self.name = name
    self.value = value
data_type1 = DataType('Integer', 1234)
print(data_type1.name)
print(data_type1.value)
print('=====================')
data_type2 = DataType('String', 'Hello')
print(data_type2.name)
print(data_type2.value)
print('=====================')
data_type3 = DataType('Float', 4.0)
print(data_type3.name)
print(data_type3.value)

Integer
1234
=====================
String
Hello
=====================
Float
4.0

**Question 2**

In [ ]:
class Flower:
  def __init__(self):
    self.name = 'name'
    self.color = 'color'
    self.num_of_petal = 0
flower1 = Flower();
flower1.name="Rose"
flower1.color="Red"
flower1.num_of_petal=6
print("Name of this flower:", flower1.name)
print("Color of this flower:",flower1.color)
print("Number of petal:",flower1.num_of_petal)
print("=====================")
flower2 = Flower()
flower2.name="Orchid"
flower2.color="Purple"
flower2.num_of_petal=4
print("Name of this flower:",flower2.name)
print("Color of this flower:",flower2.color)
print ("Number of petal:",flower2. num_of_petal)
print(flower1)
print(flower2)
print('they are different')

Name of this flower: Rose
Color of this flower: Red
Number of petal: 6
=====================
Name of this flower: Orchid
Color of this flower: Purple
Number of petal: 4
<__main__.Flower object at 0x7f0c5ab3dc10>
<__main__.Flower object at 0x7f0c5ab3d650>
they are different

**Question 3**

In [ ]:
class Wadiya():
  def __init__(self):
    self.name = 'Aladeen'
    self.designation = 'President Prime Minister Admiral General'
    self.num_of_wife = 100
    self.dictator = True
wadiya = Wadiya()
print('Part 1:')
print('Name of President:', wadiya.name)
print('Designation:', wadiya.designation)
print('Number of wife:', wadiya.num_of_wife)
print('Is he/she a dictator:', wadiya.dictator)
wadiya.name = 'Donald Trump'
wadiya.designation = 'President'
wadiya.num_of_wife = 1
wadiya.dictator = False
print('Part 2:')
print('Name of President:', wadiya.name)
print('Designation:', wadiya.designation)
print('Number of wife:', wadiya.num_of_wife)
print('Is he/she a dictator:', wadiya.dictator)
print('previous information lost')

Part 1:
Name of President: Aladeen
Designation: President Prime Minister Admiral General
Number of wife: 100
Is he/she a dictator: True
Part 2:
Name of President: Donald Trump
Designation: President
Number of wife: 1
Is he/she a dictator: False
previous information lost

**Question 4**

In [ ]:
class Joker:
  def __init__(self, n, p, psy):
    self.name = n
    self.power = p
    self.is_he_psycho = psy

j1 = Joker('Heath Ledger', 'Mind Game', False)
print(j1.name)
print(j1.power)
print(j1.is_he_psycho)
print("=====================")
j2 = Joker('Joaquin Phoenix', 'Laughing out Loud', True)
print(j2.name)
print(j2.power)
print(j2.is_he_psycho)
print("=====================")
if j1 == j2:
  print('same')
else:
  print('different')
j2.name = 'Heath Ledger'
if j1.name == j2.name:
  print('same')
else:
  print('different')

print('The first if/else block prints the output as different\n because the memory location of j1 and j2 is not same')
print('The second if/else block prints the output as same\n because the name instance variable value of j1 and j2 are not different')

Heath Ledger
Mind Game
False
=====================
Joaquin Phoenix
Laughing out Loud
True
=====================
different
same
The first if/else block prints the output as different
 because the memory location of j1 and j2 is not same
The second if/else block prints the output as same
 because the name instance variable value of j1 and j2 are not different

**Question 5**

In [5]:
class Pokemon:
  def __init__(self, pn1, pn2, pp1, pp2, dmg):
    self.pokemon1_name = pn1
    self.pokemon2_name = pn2
    self.pokemon1_power = pp1
    self.pokemon2_power = pp2
    self.damage_rate = dmg

team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name,
team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name,
team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power +
team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)

team_bulb = Pokemon('bulbasaur', 'squirtle', 80, 70, 9)
print('=======Team 2=======')
print('Pokemon 1:',team_bulb.pokemon1_name,
team_bulb.pokemon1_power)
print('Pokemon 2:',team_bulb.pokemon2_name,
team_bulb.pokemon2_power)
bulb_combined_power = (team_bulb.pokemon1_power +
team_bulb.pokemon2_power) * team_bulb.damage_rate
print('Combined Power:', bulb_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350