In [ ]:
class sum:
  def __init__(self, a):
    self.one = a
  def __add__(self, b):
    return self.one + b.one

num1 = sum(10)
num2 = sum(20)

print(num1 + num2)

30

In [ ]:
class Equal:
  def __init__(self, a):
    self.one = a
  def __eq__(self, b):
    if self.one == b.one:
      return True
    else:
      return False

num1 = Equal(12)
num2 = Equal(10)
print(num1 == num2)

False

In [ ]:
class Catto:
  def __init__(self, color, behavior):
    self.color = color
    self.char = behavior
  def eq(self, cat):
    if self.char == cat.char:
      print('They are siblings')
    else:
      print('Opposite attract')

  def racist(self, kitty):
    if self.color == kitty.color:
      print('Bully')
    else:
      print('Racist')

mini = Catto('brown', 'naughty')
misaki = Catto('white', 'calm')
yoshi = Catto('white', 'naughty')

mini.eq(yoshi)
mini.racist(misaki)
misaki.racist(yoshi)

They are siblings
Racist
Bully

**Question 1**

In [ ]:
class Student:
  ID = 0
  def __init__(self, name, dept, age, cgpa):
    self.name = name
    self.dept = dept
    self.age = age
    self.cgpa = cgpa
    Student.ID += 1
  def get_details(self):
    print('ID:', self.ID)
    print('Name:', self.name)
    print('Department:', self.dept)
    print('Age:', self.age)
    print('CGPA:', self.cgpa)
  @classmethod
  def from_String(cls, txt):
    name, dept, age, cgpa = txt.split('-')
    stud = cls(name, dept, age, cgpa)
    return stud

s1 = Student("Samin", "CSE", 21, 3.91)
s1.get_details()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.get_details()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.get_details()
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.get_details()

print('5. Class variables can only be assigned when a class has been defined. Instance variables, on the other hand, can be assigned or changed at any time.')
print('6. Instance methods need a class instance and can access the instance through self. Class methods don\'t need a Class instance. They can\'t access the instance self but they have access to the class itself via cls.')

ID: 1
Name: Samin
Department: CSE
Age: 21
CGPA: 3.91
-----------------------
ID: 2
Name: Fahim
Department: ECE
Age: 21
CGPA: 3.85
-----------------------
ID: 3
Name: Tahura
Department: EEE
Age: 22
CGPA: 3.01
-----------------------
ID: 4
Name: Sumaiya
Department: BBA
Age: 23
CGPA: 3.96
5. Class variables can only be assigned when a class has been defined. Instance variables, on the other hand, can be assigned or changed at any time.
6. Instance methods need a class instance and can access the instance through self. Class methods don't need a Class instance. They can't access the instance self but they have access to the class itself via cls.

**Question 2**

In [ ]:
class Teacher:
  def __init__(self, name, dept):
    self.__name = name
    self.__dept = dept
    self.__course = []
  def addCourse(self, c):
    self.__course.append(c.course)
  def printDetail(self):
    print('====================================')
    print('Name:', self.__name)
    print('Department:', self.__dept)
    print('List of courses')
    print('====================================')
    for i in self.__course:
      print(i)
    print('====================================')

class Course:
  def __init__(self, course):
    self.course = course

t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")
c1 = Course("CSE 110 Programming Language I")
c2 = Course("CSE 111 Programming Language-II")
c3 = Course("CSE 220 Data Structures")
c4 = Course("CSE 221 Algorithms")
c5 = Course("CCSE 230 Discrete Mathematics")
c6 = Course("CSE 310 Object Oriented Programming")
c7 = Course("CSE 320 Data Communications")
c8 = Course("CSE 340 Computer Architecture")
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

====================================
Name: Saad Abdullah
Department: CSE
List of courses
====================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
====================================
====================================
Name: Mumit Khan
Department: CSE
List of courses
====================================
CSE 220 Data Structures
CSE 221 Algorithms
CCSE 230 Discrete Mathematics
====================================
====================================
Name: Sadia Kazi
Department: CSE
List of courses
====================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
====================================

**Question 3**

In [ ]:
class Dates:
  def __init__(self, date):
    self.__date = date

  def getDate(self):
    return self.__date

  @classmethod
  def toDashDate(cls, txt):
    date = cls(txt.replace('/', '-'))
    return date

date1 = Dates("05-09-2020")
dateFromDB = "05/09/2020"
date2= Dates.toDashDate(dateFromDB)
if(date1.getDate() == date2.getDate() ):
  print("Equal")
else:
  print("Unequal")

print('The date is same')

Equal
The date is same

**Question 4**

In [ ]:
class Circle:
  def __init__(self, radius):
    self.__radius = radius
  def getRadius(self):
    return self.__radius
  def setRadius(self, radius):
    self.__radius = radius
  def area(self):
    area = 3.14159*self.__radius**2
    return area
 
  def __add__(self, c):
    sum = Circle(self.__radius + c.__radius)
    return sum

c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())
c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())
c3 = c1 + c2
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

First circle radius: 4
First circle area: 50.26544
Second circle radius: 5
Second circle area: 78.53975
Third circle radius: 9
Third circle area: 254.46878999999998

**Question 5**

In [10]:
class Dolls:
  def __init__(self, name, price):
    self.name = name
    self.price = price
  def detail(self):
    return 'Dolls: ' + self.name + '\nTotal Price: ' + str(self.price) + ' taka'
  def __add__(self, doll):
    new_name = self.name + " " + doll.name
    new_price = self.price + doll.price
    doll = Dolls(new_name, new_price)
    return doll
  def __gt__(self, doll):
    if self.price > doll.price:
      return True
    else:
      return False

obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_2 = Dolls("Daffy Duck", 1800)
print(obj_2.detail())
if obj_2 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")

Dolls: Tweety
Total Price: 2500 taka
Thank you!
=========================
Dolls: Daffy Duck
Total Price: 1800 taka
Thank you!
=========================
Dolls: Bugs Bunny
Total Price: 3000 taka
Congratulations! You get the Tweety as a gift!
=========================
Dolls: Porky Pig
Total Price: 1500 taka
Thank you!
=========================
Dolls: Daffy Duck Bugs Bunny
Total Price: 4800 taka
Congratulations! You get the Tweety as a gift!